/* Para no tener scroll lateral en la pagina y ocupar el 100% del width */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
}